{% extends 'base.html.twig' %}

{% block title %}{{ app.request.attributes.get('_controller') }}{% endblock %}

{% block body %}
    <div class="row pb-2">
        <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
                data-target="#addScheduleModal">Add
        </button>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Starting date</th>
                <th scope="col">Time</th>
                <th scope="col">Frequency</th>
                <th scope="col">Exceptions</th>
                <th scope="col">Timeout</th>
                <th scope="col">Reminder timeout</th>
                <th scope="col">Notifiables</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addScheduleModal" tabindex="-1" role="dialog" aria-labelledby="addScheduleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addScheduleModalLabel">Add Schedule</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="text-center pb-6">
                        {{ form_label(form.type, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                        {{ form_widget(form.type, {'attr': {'class': 'form-check-inline'}}) }}
                    </div>
                    <hr/>
                    <div class="form-row">
                        <div class="col-4">
                            {{ form_label(form.date, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                            {{ form_widget(form.date) }}</div>
                        <div class="col-4">
                            {{ form_label(form.time, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                            {{ form_widget(form.time) }}</div>
                        <div class="col-4">
                            {{ form_row(form.frequency) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-4">{{ form_row(form.timeout) }}</div>
                        <div class="col-4">{{ form_row(form.reminderTimeout) }}</div>
                        <div class="col-4">{{ form_row(form.exceptions) }}</div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
