{% extends 'base.html.twig' %}

{% block body %}
    <div class="row pb-2">
        <a class="btn btn-outline-success btn-sm" href="{{ url('schedule_add') }}" role="button">Add</a>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Starting date</th>
                <th scope="col">Time</th>
                <th scope="col">Frequency</th>
                <th scope="col">Exceptions</th>
                <th scope="col">Timeout</th>
                <th scope="col">Reminder timeout</th>
                <th scope="col">Notifiables</th>
            </tr>
            </thead>
            <tbody>
            {% for schedule in schedules %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ schedule.date|date('Y-m-d') }}</td>
                <td>{{ schedule.time|date('H:i') }}</td>
                <td>{{ schedule.frequency }}</td>
                <td>{{ schedule.exceptions|json_encode }}</td>
                <td>{{ schedule.timeout }}</td>
                <td>{{ schedule.reminderTimeout }}</td>
                <td></td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="8">No data</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
