{% extends 'base.html.twig' %}

{% block body %}
    <div class="row pb-2">
        <a class="btn btn-outline-success btn-sm" href="{{ url('schedule_new') }}" role="button">Add</a>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Frequency</th>
                <th scope="col">Timeout</th>
                <th scope="col">Notifiables</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for schedule in schedules %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ schedule.date|date('Y-m-d') }} {{ schedule.time|date('H:i') }}</td>
                    <td>{{ schedule.frequency }}</td>
                    <td>{{ schedule.timeout }}</td>
                    <td>{{ schedule.user.notifiables|join(', ') }}</td>
                    <td>{% if schedule.status == constant('App\\Entity\\Schedule::STATUS_ACTIVE') %}
                            <span class="badge badge-success">активно</span>
                        {% elseif schedule.status == constant('App\\Entity\\Schedule::STATUS_FINISHED') %}
                            <span class="badge badge-primary">завершено</span>
                        {% elseif schedule.status == constant('App\\Entity\\Schedule::STATUS_STOPPED_BY_USER') %}
                            <span class="badge badge-secondary">остановлено</span>
                        {% elseif schedule.status == constant('App\\Entity\\Schedule::STATUS_STOPPED_BY_SYSTEM') %}
                            <span class="badge badge-danger">прервано</span>
                        {% else %}
                            <span class="badge badge-dark">неивестно</span>
                        {% endif %}
                    </td>
                    <th scope="col"><a class="btn btn-outline-success btn-sm" href="{{ url('schedule_update', {'guid': schedule.guid}) }}" role="button">Update</a></th>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No data</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
