{% extends 'base.html.twig' %}

{% block title %}Notifiable{% endblock %}

{% block body %}
    <h1>Notifiable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notifiable.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ notifiable.email }}</td>
            </tr>
            <tr>
                <th>EmailConfirmedAt</th>
                <td>{{ notifiable.emailConfirmedAt ? notifiable.emailConfirmedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ notifiable.text }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ notifiable.createdAt ? notifiable.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ notifiable.updatedAt ? notifiable.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('notifiable_index') }}">back to list</a>

    <a href="{{ path('notifiable_edit', {'id': notifiable.id}) }}">edit</a>

    {{ include('notifiable/_delete_form.html.twig') }}
{% endblock %}
