<!-- Main Sidebar Container -->
{% set uri = app.request.requestUri %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        {# <img src="../" alt="Logo" #}
        {# class="brand-image img-circle elevation-3" #}
        {# style="opacity: .8"> #}
        <i class="far fa-calendar-check"></i>&nbsp;
        <span class="brand-text font-weight-light">If you lost me</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3">
            <div class="d-flex">
                <div class="image">
                    <img src="{{ gravatar(app.user.email) }}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">{{ app.user.username }}</a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{{ url('app_logout') }}" class="btn btn-outline-info btn-xs" role="button">выход</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="{{ url('dashboard') }}" class="nav-link {{ uri starts with '/dashboard' ? 'active' }}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('tick_index') }}" class="nav-link {{ uri starts with '/tick' ? 'active' }}">
                        <i class="nav-icon far fa-check-circle"></i>
                        <p>
                            Tick
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('notifiable_index') }}"
                       class="nav-link {{ uri starts with '/notifiable' ? 'active' }}">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Notifiable
                        </p>
                    </a>
                </li>
                {% if isScheduleMenuEnabled(app.user) %}
                    <li class="nav-item">
                        <a href="{{ url('schedule_index') }}"
                           class="nav-link {{ uri starts with '/schedule' ? 'active' }}">
                            <i class="nav-icon far fa-calendar-check"></i>
                            <p>Schedule</p>
                        </a>
                    </li>
                {% else %}
                    {% set showScheduleAlertModal = true %}
                    <li class="nav-item" data-toggle="modal" data-target="#menuScheduleAlertModal">
                        <a href="{{ url('schedule_index') }}" class="nav-link disabled">
                            <i class="nav-icon far fa-calendar-check"></i>
                            <p>Schedule</p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<div class="modal fade" id="menuScheduleAlertModal" tabindex="-1" aria-labelledby="menuScheduleAlertModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Для работы с расписаниями проверок добавьте параметры <a href="{{ url('tick_index') }}">отметок</a> и <a href="{{ url('notifiable_index') }}">контакты</a> для уведомления.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>